.about{
    // height: 110vh;
    min-height: 930px;
    width: 100%;
    background: #272727;
    // margin-top: 100px;
    // margin-top: 160px;

    &__container{
        &_labels{
            top: 0 !important;
            display: flex;
            justify-content: space-between;
            width: 90%;   
        }
    }
    &__push{
        // top: 0px !important;
        margin-top: 0%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__scroll{
        max-width: 100%;
        // margin-top: -365px;
        position: absolute;
        // margin-top: -65px;
        margin: auto;
        width: 6em;
        // top: -87px;
        height: 3em;
        margin-top: -215px;
        z-index: 0 !important;
        // min-height: 5%;
        background: #272727;
        // background: red;
        border-radius: 60%;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;

    }
    &__block{
        // position: absolute;
        left: 50px;
        margin-top: 350px;
        top: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &_r{
            align-items: flex-start;
            top: 150px;
            margin-top: 500px;
        }
    }
    &__line{
        top: -150px !important;
        min-height: 980px;
    }
    &__down{
        // min-height: 1050px;
        margin-top: 150px;
        width: 1px;
        // height: 100%;
        margin: auto;
        background: #fff;
    }
    &__description{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #B3B2AD;
        display: block;
        margin-bottom: 50px;
    }
    &__title{
        font-family: Anglecia Pro Title;
        font-style: italic;
        font-weight: bold;
        font-size: 50px;
        display: block;
        width: 371px;
        margin-bottom: 30px;
        text-align: end;
        color: #FCFBF7;
        &_r{
            text-align: start;
        }
    }
    &__link{
        font-family: Montserrat;
        font-style: italic;
        font-weight: 500;
        font-size: 18px;
        color: #2FFF97;
        text-decoration: none;
        img{
            margin-left: 30px;
        }
    }
}

.line{
    display: flex;
    justify-content: center;
}

