.circles{
    // top: 240px !important;
    right: 0;
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.circle{
    background: rgba($color: #272727, $alpha: .1);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    &__quality{
        // top: 0;
        left: 22%;
        margin-top: -8%;
    }
    &__cost{
        margin-top: 22%;
    }
    &__speed{
        margin-top: 26%;
        left: 37%;
    }
    &__label{
        font-family: Anglecia Pro Title;
        font-style: italic;
        font-weight: bold;
        font-size: 28px;
        color: #272727
    }
}

@media (max-width: 1200px){
    .circle{
        &__quality{
            margin-top: -20%;
        }
        // &__cost{
        // }
        &__speed{
            left: 50%;
        }
    }
}

@media (max-width: 992px){
    .circles{
        height: 300px;
    }
    .circle{
        &__quality{
            margin-top: -8%;
        }
        &__speed{
            left: 37%;
        }
    }
}

@media (max-width: 768px){
    .circles{
        width: 410px;
    }
}

@media (max-width: 576px){
    .circles{
        width: 310px;
    }
    .circle{
        width: 190px;
        height: 190px;
        &__quality{
            margin-top: -18%;
        }
        &__cost{
            left: -20px;
        }
        &__speed{
            left: 39%;
            top: -14px;
        }
    }
}