.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    &__link{
        display: flex;
        align-items: center;
        margin-top: 18px;
        a{
            margin-left: 10px;
        }
    }
}