.header{
    position: relative !important;
    padding-top: 3%;
    &__container{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__icon{
        display: flex;
        align-items: flex-start;
        img{
            &:last-child{
                margin-top: 4px;
                margin-left: 2px;
            }
        }
    }
    &__menu{
        span{
            margin-top: 16%;
            display: block;
            width: 30px;
            height: 0px;
            color: black;
            left: 1290px;
            top: 89px;
            content: '';
            font-size: 14px;
            border: 1px solid #272727;
            &:last-child{
                width: 18px;
                margin-top: 20%;
            }
        }
    }
}

.menu{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    right: 50px;
}