.our-team{
    background: #272727;
    width: 100%;
    height: 100vh;
    padding-top: 8%;
    &__logo{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #B3B2AD;
        position: absolute;
        top: 5%;
    }
    &__container{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 4%;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__photo{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background: grey;
    }
    &__name{
        font-family: Anglecia Pro Title;
        font-style: italic;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        color: #FCFBF7;
    }
    &__position{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FCFBF7;
    }
    &__about{
        width: 266px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #B3B2AD;
    }
    &__line{
        width: 75%;
        margin: auto;
    }
    &__container2{
        display: flex;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__item2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #B3B2AD;
    }
}

@media (max-width: 992px){
    .our-team{
        height: 100%;
        &__container{
            flex-direction: column;
            width: 95%;
        }
        &__item{
            position: relative;
            // flex-wrap: wrap;
            // flex-direction: row;
        }
        &__photo{
            width: 80px;
            height: 80px;
        }
        // &__name{
        //     position: absolute;
        //     top: 4%;
        //     left: 30%;
        //     font-size: 20px;
        // }
        // &__position{
        //     position: absolute;
        //     top: 25%;
        //     left: 30%;
        //     font-size: 14px;
        // }
        &__about{
            // width: 100%;
            text-align: start;
            font-size: 14px;
        }
        &__container2{
            flex-wrap: wrap;
            height: 100px;
            margin-top: 0;

            &_top{
                margin-top: 35px;
            }
        }
        &__item2{
            width: 50%;
            font-size: 14px;
            &_desc{
                display: none;
            }
        }

    }
}


@media (max-width: 576px){
    .our-team{
        padding-top: 25%;
        &__logo{
            font-size: 18px;
        }
        &__item{
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__name{
            position: absolute;
            top: 4%;
            left: 30%;
            font-size: 20px;
        }
        &__position{
            position: absolute;
            top: 25%;
            left: 30%;
            font-size: 14px;
        }
        &__about{
            width: 100%;
        }
        &__container2{
            width: 90%;
        }
    }
}
