.reason{
    padding-bottom: 90px;
    position: relative !important;
    top: 0!important;

    &__logo{
        padding-top: 50px;
        width: 80%;
        margin: auto;
    }
    &__container{
        top: 0 !important; 
        display: flex;
        justify-content: space-between;
        padding-top: 130px;
        // overflow: hidden;
    }
    &__title{
        font-family: AngleciaProTitle-BoldItalic;
        font-style: italic;
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
        &_ex{
            margin-top: 170px;
            width: 640px;
        }
    }
    &__paragraph{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        width: 560px;
    }
    &__icons{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 165px;
    }
    &__item{
        width: 115px;
        height: 115px;
        background: #C4C4C4;
        background-position: center;
        background-repeat: no-repeat;
        &_1{
            
            background: url('../../img/reasons/logo-starbucks.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_2{
            
            background: url('../../img/reasons/logo-sib-mol.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_3{
            background: url('../../img/reasons/logo-voltswagen.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_4{
            background: url('../../img/reasons/logo-netologia.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_5{
            background: url('../../img/reasons/logo-estee-laude.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_6{
            background: url('../../img/reasons/logo-mailru.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_7{
            background: url('../../img/reasons/logo-ipsa.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_8{
            background: url('../../img/reasons/logo-academ.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_9{
            background: url('../../img/reasons/logo-bk.svg');
            background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        }
        &_10{
            background: url('../../img/reasons/logo-inter.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
           
        }
        &_11{
            background: url('../../img/reasons/logo-beauty.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &_12{
            background: url('../../img/reasons/logo-cinemood.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &_13{
            background: url('../../img/reasons/logo-ipls.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &_14{
            background: url('../../img/reasons/logo-lamoda.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &_15{
            background: url('../../img/reasons/logo-jardin.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &_16{
            background: url('../../img/reasons/logo-reed.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

@media (max-width: 1200px){
    .reason{
        &__item{
            width: 90px;
            height: 90px;
        }
    }
}

@media (min-width: 993px){
    .reason{
        &__header{
            display: none;
        }
    }
}

@media (max-width:992px){
    .reason{
        &__header{
            position: fixed !important;
            top: 0 !important;
            width: 100%;
            z-index: 500;

        
        }
        &__logo{
            display: none;
        }
        &__container{
            width: 95%;
            flex-direction:column;
            height: 700px;
            overflow: hidden;
            align-items: center;
        }
        &__icons{
            flex-wrap: wrap;
        }
        &__item{
            width: 25%;
        }
    }
}

@media (max-width: 768px){
    .reason{
        &__container{
            padding-top: 90px;
        }
        &__text{
            width: 90%;
        }
        &__title{
            font-size: 44px;
            &_ex{
                width: 100%;
            }
        }
        &__paragraph{
            font-size: 20px;
        }
    }
}

@media (max-width: 576px){
    .reason{
        &__container{
            height: 715px;
            &_ex{
                width: 95%;
            }
        }
        &__text{
            width: 310px;
        }
        &__title{
            font-size: 36px;
            &_ex{
                width: 310px;
                margin-top: 0;
                margin: auto;
            }
        }
        &__paragraph{
            font-size: 16px;
            width: 100%;
        }
        &__item{
            width: 25%;
        }
        &__icons{
            margin: auto;
            width: 310px;
            margin-top: 35px;
        }
    }
}