.slider{
    min-height: 900px;
    width: 100%;
    background: #272727;
    margin-top: -1px;
    padding-bottom: 30px;
    &__content{
        margin-left: 10%;
        animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            &_1{
                display: flex;
            }
    }
    &__container{
        padding-top: 250px;
    }
    &__services{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
    }
    &__title{
        font-family: Anglecia Pro Title;
        font-style: italic;
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
        color: #fff;

        animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
    }
    &__paragraph{
        font-family: Montserrat;
        // font-style: normal;
        // font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        width: 643px;
        height: 58px;
        font-weight:200;
        color: #B3B2AD;
        height: 85px;
        &_marketing{
            height: 115px;
        }
    }
    &__link{
        font-family: Montserrat;
        // font-style: italic;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #2FFF97;
        text-decoration: none;
        margin-left: 20px;
        display: flex;
        width: 210px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        
    }
    &__line{
        width: 240px;
        margin-left: 0;
        color: #2FFF97;
        border: 1.5px solid #2FFF97;
        margin-top: 15px;
        &_white{
            width: 325px;
            position: absolute;
            right: 0;
            margin-top: -35px;
            animation-duration: 500ms;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
        }
    }
    &__list{
        margin-top: 50px;
        list-style-type: none;
        padding-left: 10px;
        li{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 200;
            font-size: 18px;
            line-height: 22px;
            color: #B3B2AD;
            margin-top: 2px;
            position: relative;
            align-items: center;

            &::before{
                position: absolute;
                top: -2px;
                left: -15px;
                display: inline-block;
                content: url('../../img/slider/list-marker.svg');
            }
        }
    }
    &__picture{
        width: 550px;
        height: 530px;
        animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
    }
    // &__slider{
    //     // padding-left: 35px;
    // }
    &__next-label{
        text-align: end;
        padding-right: 250px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FCFBF7;
        text-transform: capitalize;

        animation-duration: 200ms;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
        &_m{
            padding-right: 265px;
            padding-top: 55px;
        }
        &_w{
            padding-right: 240px;
        }
        &_d{
            padding-right: 245px;
            // padding-top: 25px;
            margin-top: 45px;
        }
        &_p{
            padding-top: 55px;
            padding-right: 150px;
        }
        // 55
        // 225
    }
    &__portfolio{
        color: #FCFBF7;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    }
    &__pictures{
        position: absolute;
        width: 80%;
        height: 800px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
    }
    &__pic{
        background: #C4C4C4;
        width: 45%;
        height: 306px;
        &_one{
            background: url('../../img/slider/brandIdentity-phones.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 80px;
        }
        &_two{
            background: url('../../img/slider/brandIdentity-polina.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 0px;
            background-position-y: -75px;
        }
        &_three{
            background: url('../../img/slider/brandIndentity-coffee.png');
            background-size: cover;
            width: 100%;
            height: 289px;
        }
        &_coffee{
            background: url('../../img/slider/websites-coffee');
            background-size: contain;
            background-repeat: no-repeat;
        }
        &_video{
            background: none;
        }
        &_black{
            position: relative;
            animation-duration: 3000ms;
                -webkit-transition: 3s;
                -moz-transition: 3s;
                -ms-transition: 3s;
                -o-transition: 3s;
                transition: 3s;
                background: rgba($color: #000000, $alpha: .3);
                // z-index: 5000;
                display: flex;
                justify-content: center;
                align-items: center;

            &::after{
                animation-duration: 3000ms;
                -webkit-transition: 3s;
                -moz-transition: 3s;
                -ms-transition: 3s;
                -o-transition: 3s;
                transition: 3s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            display: block;
            background: rgba($color: #000000, $alpha: .3);
            }
        }
        &_bk{
            background: url('../../img/slider/websites-coffee');
            background-size: cover;
            background-repeat: no-repeat;
        }
        
    }

    &__video{
        width: 100%;
        height: 100%;
    }
}

.text_none{
    opacity: 0;

    animation-fill-mode: forwards;
    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
}

.text_active{
    opacity: 1;

    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
}

.text_up{
    margin-top: -25px;
    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
        &_340{
            // margin-top: -340px;
            position: absolute;
            top: 25px;
            right: 0;
            animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
        }

        &_330{
            top: 330px;
            animation-duration: 500ms;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
        }
        // 330
        &_860{
            margin-top: -860px;
            animation-duration: 500ms;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
        }
}


// margin-top: -960px;

.top_120{
    top: 120px;
    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
}

.height_900{
    height: 900px;
    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
}

.fz_40{
    font-size: 40px;
    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
}

.margin_top_15{
    margin-top: 15px;
    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
}

.padding_top_0{
    padding-top: 0px;
    animation-duration: 1000ms;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
}

.hieght_width_20{
    // width: 20%;
    // height: 20%;
    animation-duration: 2000ms;
                -webkit-transition: 2s;
                -moz-transition: 2s;
                -ms-transition: 2s;
                -o-transition: 2s;
                transition: 2s;
}

.top_915{
    top: 915px;
    animation-duration: 2000ms;
                -webkit-transition: 2s;
                -moz-transition: 2s;
                -ms-transition: 2s;
                -o-transition: 2s;
                transition: 2s;
}

.top_92{
    top: 92%;
    animation-duration: 2000ms;
                -webkit-transition: 2s;
                -moz-transition: 2s;
                -ms-transition: 2s;
                -o-transition: 2s;
                transition: 2s;
}

// top: 92%;

.fz_24{
    font-size: 24px !important;
    animation-duration: 2000ms;
                -webkit-transition: 2s;
                -moz-transition: 2s;
                -ms-transition: 2s;
                -o-transition: 2s;
                transition: 2s;
}

.fz_18{
    font-size: 18px !important;
    animation-duration: 2000ms;
                -webkit-transition: 2s;
                -moz-transition: 2s;
                -ms-transition: 2s;
                -o-transition: 2s;
                transition: 2s;
}

@media (max-width: 992px){
    .slider{
        min-height: 715px;
        &__container{
            padding-top: 150px;
        }
        &__services{
            font-size: 18px;
        }
        &__title{
            font-size: 40px;

        }
        &__paragraph{
            height: 75px;
            font-size: 19px;
            line-height: 25px;
            width: 400px;
            &_marketing{
                height: 155px !important;
            }
            &_production{
                height: 155px !important;
            }
        }
        &__next{
            &-label{
                display: none;
            }
        }
        &__line{
            &_white{
                display: none;
            }
        }
        &__picture{
            display: none !important;
            &s{
                flex-direction: column;
                height: 635px;
                margin-top: 5%;
                // margin-left: 5%;
                width: 100%;
            }
        }

        &__portfolio{
            font-size: 18px;
        }
        &__pic{
            position: relative;
            width: 300px;
            &_one{
                background-position-x: 0;
            }
            &_two{
                background-position-x: -30px;
                background-position-y: -25px;
            }
            &_three{
                display: none;
            }
            &_desc{
                display: none;
            }
        
        }

    }
}

@media (max-width: 576px){
    .slider{
        min-height: 660px;
        &__container{
            padding-top: 100px;
        }
        &__content{
            margin-left: 4%;
        }
        &__title{
            width: 300px;
            font-size: 36px;
        }
        &__slider{
            padding-left: 0;
        }
        &__paragraph{
            height: 95px;
            width: 260px;
            font-size: 16px;
            line-height: 22px;
        }
        &__pic{
            &_video{
                height: 185px;
            }
        }
    }
}